<app-toolbar title="Trang chủ">
    <ul>
        <li>Components</li>
        <li>Directives</li>
        <li>Services</li>
        <li>Pipes</li>
        <li>Other</li>
    </ul>
</app-toolbar>
<app-card title="Component" subTitle="Mô tả" iconClasses="fa-solid fa-circle-info">
    <p body>Body content</p>
    <p footer>Footer content</p>
</app-card>
<app-card title="Accordion" subTitle="Mô tả" iconClasses="fa-solid fa-circle-info">
    <app-accordion body [items]="accordionItems">
        
    </app-accordion>
</app-card>