<input type="text" class="form-control" (input) = "onUpdateServerName($event)">
<!-- <input type="text" class="form-control" [(ngModel)]="serverName"> -->
<p *ngif="serverCreated; else noServer">{{serverName}}</p>
<ng-template #noServer>
    <p>No Server was created</p>
</ng-template>
<br/>
@if(serverCreated)
{
    {{ serverName }}
}
<button class="btn btn-primary" [disabled]="!allowAddServer" (click) = "onCreateServer()">Add Server</button>
<p> {{serverCreationStatus}}</p>
<app-server></app-server>
<app-server></app-server>
